<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.google.OrangeHRM">
       <methods>
         <include name="LaunchBrowser"></include>
          <include name="Login"></include>
          <include name="verifyLogin"></include>
          <include name="Login"></include>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
<test thread-count="5" name="TestLogin">
    <classes>
      <class name="com.google.OrangeHRM">
       <methods>
         <include name="LaunchBrowser"/>
          <include name="Login"/>
          <include name="navigateToMyinfo"/>
          <include name="verifyMyInfo"/>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
<test thread-count="5" name="TestVerify">
    <classes>
      <class name="com.google.TestGoogle">
       <methods>
         <include name="LaunchBrowser"></include>
          </methods>
      </class>
    </classes>
  </test> <!-- Test -->


</suite> <!-- Suite -->
